*{
  padding: 0;
  text-align: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: beige;
}

.TitleUpdater{
  padding: 10px;
}

h2{
  padding: 10px;
}